<!-- Banner -->
<div class="toolbar" role="banner">
    <img width="200" alt="App Logo" src="../assets/Images/Logo.PNG" />
    <a target="_blank" href="https://www.mindtools.com/pages/article/newHTE_05.htm">
      <span id="Welcome-span">Welcome</span>
    </a>
    <div class="spacer"></div>
    <a aria-label="Angular on GitHub" target="_blank" rel="noopener" href="https://github.com/FrankieDLT/MyToDoList"
      title="Github">
      <img 
        id="Github-logo"
        height="60"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/2048px-Octicons-mark-github.svg.png">
    </a>
  
  </div>