:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  

  

  #todo-title{
    text-shadow: 1px 1px rgb(71, 71, 71);
  }

  #add_button{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border-style: solid;
    background-color: whitesmoke;
    border: 1px solid rgb(46, 46, 46);
    outline:solid black 1px;
    font-size: 20px;
    color: black;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }



  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  
  .card.highlight-card {
    background-color: rgb(46, 46, 46);
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 40vw;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 5vw;
  }

  .tittle-button{
    display: inline-table;
  }

  .container{
    width: 100%; 
    display: flex;
    justify-content: space-between;
  }

  #edit {
    margin-right: 5px;
  }

  #TodoDiv{
    background-color: purple;
    background-image: url("../assets/Images/Paper.png");
    border-radius: 25px;
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    padding-top: 10px;
    width: 50vw;
    height: 50vh; 
    display: table; 
  }

  
  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  #modal-new,#modal-edit{
    position: fixed;
    top: 20vh;
    width: 40vw;
    background-color: darkgrey;
    z-index: 5;
    padding: 2%;
    border-radius: 20px;
    display: table;
  }

  #modal-new>h2,#modal-edit>h2{
  vertical-align: middle;
   display: table-header-group;
   text-align: center;
  }

  #modal-new > *,#modal-edit>*{
    display: block;
  }

  input,textarea{
    width: 95%;
  }

  #close{
   
      float: left;
      margin-left: 2%;
      margin-top: 5%;
      background-color: cornflowerblue;
      border-radius: 15px;
    
  }

  #sub{
    float: right;
    margin-right: 2%;
    margin-top: 5%;
    background-color: cornflowerblue;
    border-radius: 15px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {}

  @media screen and (max-width: 575px) {}
