<app-banner></app-banner>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <img width="50" height="50" viewBox="0 0 101.678 101.678" src="../assets/Images/Notes.png">
    <span></span>
    <p>¿What are we doing today?</p>


  </div>

  <div id="TodoDiv">
    <h2 id="todo-title">To Do List:</h2>  
    <button id="add_button" (click)="addNote()">+</button>
    <ul>
      <li *ngFor="let item of realList">
        <div>
          <h2>{{item.title}}</h2>
          <span>{{item.description}}</span>
        </div>
      </li>
    </ul>
  </div>
<router-outlet></router-outlet>
